.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  border-style: none;
  cursor: pointer;
  user-select: none;
}

.btn-primary {
  @extend .btn;

  padding: 6px;

  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;

  color: rgb(255, 225, 253);
  color: white;
  background-color: rgb(112, 55, 204);
  border-radius: 40px;

  &:disabled {
    @include non-interactive {
      opacity: 0.4;
    }
  }

  @media screen and (width > 768px) {
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
}
