.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  border-style: none;
  cursor: pointer;
  user-select: none;
}

.btn-primary {
  @extend .btn;

  height: 50px;
  padding: 10px;

  font-size: 22px;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-transform: uppercase;

  color: white;
  background-color: rgb(112, 55, 204);
  border-radius: 30px;

  &:disabled {
    @include non-interactive {
      opacity: 0.5;
    }
  }
}
