.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;

  @media screen and (width > 768px) {
    gap: 100px;
  }
}

.controls__start,
.controls__repeat {
  width: 50%;
  min-width: 40px;
  padding: 20px;
}

.controls__repeat {
  background-color: #31a115;
}
