.stats {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (width > 400px) {
    gap: 20px;
  }
}

.rounds-counter,
.difficulty {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #444444;
}

.difficulty {
  appearance: unset;

  padding: 8px 10px;
  margin: 0;

  color: #444444;
  text-transform: capitalize;

  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;

  cursor: pointer;

  &:disabled {
    @include non-interactive {
      filter: grayscale(1);
    }
  }

  @media screen and (width > 400px) {
    padding: 8px 20px;
  }
}
